//Global
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  height: 2.25rem;
  margin-bottom: .1rem;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.6em;
}

// Single Product Page
.woocommerce-product-gallery {
  .woocommerce-product-gallery__trigger {
    float: right;
    margin: 0 0 -5px -17px;
    position: relative;
    z-index: 20;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #FFF;
    background-position-x: 0%;
    background-position-y: 0%;
    border: 1px solid green;
    background-position: center;
    padding: 0 0 0 4px;
  }
  .flex-viewport {
    margin: .5rem;
    border: 1px solid #CCC;
  }

  .flex-control-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    li {
      padding: .5rem;
      margin: 0;

      img {
        border: 1px solid #CCC;
      }
    }
  }
}

.entry-summary {


  .title {
    text-align: right;
  }

  form.cart {
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-end;

    .quantity {
      .input-text.qty {
        padding: .5rem;
        border: 1px solid $grey;
        height: 2.25em;
        width: 50px;
        font-size: 1.5em;
        margin-right: 4px;
        -moz-appearance:textfield;
        text-align: center;
      }
      .input-text.qty::-webkit-inner-spin-button,
      .input-text.qty::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .add-to-cart-button {

    }
  }
  .product_meta {
    .posted_in {
      display: none;
    }
  }

  .detail-section {
    padding: 2rem 0;
  }

}

//Cart Page

//Checkout Page
.wpmc-tabs-wrapper {
  max-width: none;
  padding: 1.5rem 1.25rem;

  .wpmc-tabs-list {
    padding: 0;
    margin: 0;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;

    .wpmc-tab-item{
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
#order_comments {
  min-height: 120px;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
  background: $lightred;
  border: 1px solid $red;
  padding: 1rem;
  margin-bottom: 2rem;

  ul {
    margin: 0;
    padding: 0;
  }
}

.woocommerce form {

  .form-row-first,
  .form-row-last {
    float: none;
    width: 100%;
    overflow: visible;
  }

  @media screen and (min-width: $desktop) {
    .form-row-first,
    .form-row-last {
      width: 47%;
      overflow: visible;
    }

    .form-row-first {
      float: left;
    }

    .form-row-last {
      float: right;
    }
  }

}
